src/debian/colorex.debhelper.log
src/debian/colorex.*.debhelper
src/debian/colorex.substvars
src/debian/colorex
src/debian/changelog
src/debian/files
src/colorexc
*.deb
*.tar.gz
*.changes
*.build
*.dsc
*.upload
.idea
*.iml
*.ipr
*.iws
.settings
.project
.classpath
doc
