# ----------------------------------------------------------------------
# rainbow, a terminal colorizer - https://github.com/nicoulaj/rainbow
# copyright (c) 2010-2018 rainbow contributors
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
# ----------------------------------------------------------------------
# Description:
#   Example Rainbow configuration for Maven 3.
#
# Usage:
#   $ rainbow mvn clean install
# ----------------------------------------------------------------------

[filters]
bold:  \[INFO\]\s-+$|\[ERROR\]\s.*|\[INFO\]\sBuilding\s[^jar\s].*|\[INFO\]\s+task-segment:\s.*|^Results.*
faint: \[INFO\]\s(---|<<<|>>>)\s[a-z-]+:[0-9\.a-z-]+:.*\s@\s.*\s(---|<<<|>>>)|\[INFO\]\sTotal\stime:\s.*|\[INFO\]\sFinished\sat:\s.*|\[INFO\]\sFinal\sMemory:\s.*
yellow: \[WARNING\]\s.*|^NOTE:\sMaven\sis\sexecuting\sin\soffline\smode\.|^-+$|^\sT\sE\sS\sT\sS$|^Tests\srun:.*Failures:\s0.*Errors:\s0.*Skipped:\s[^0].*
red: \[ERROR\]\s.*|\[INFO\]\sBUILD\sFAILURE|^Tests\srun:.*Failures:\s[^0].*|^Tests\srun:.*Errors:\s[^0].*
magenta: ^Downloading:\s.*
green: \[INFO\]\sBUILD\sSUCCESS|\[INFO\]\sScanning\sfor\sprojects|^Tests\srun:.*Failures:\s0.*Errors:\s0.*Skipped:\s0.*
