Source: colorex
Section: utils
Priority: optional
Maintainer: Julien Nicoulaud <julien.nicoulaud@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://bitbucket.org/nicoulaj/colorex

Package: colorex
Architecture: all
Depends: python (>= 2.6)
Recommends: bash-completion, grep (>= 2.5), sed (>= 4.2)
Description: Colorize commands output using patterns.
 Display commands output or STDIN colored matching words or regular expressions.
 .
 Colorex comes with predefined configurations for common commands.
