name: Packages

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:

  python-packages:

    name: 'wheel'

    runs-on: 'ubuntu-latest'

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install wheel

      - name: Build source distribution and wheel package
        run: python setup.py sdist bdist_wheel

      - name: Publish on PyPI repository
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
